/* Genel Konteyner */
.home-container {
  text-align: center;
  position: relative;
  min-height: 100vh;
  background-image: url('../assets/back.jpg');
  background-size: cover;
  background-position: center;
  color: white;
}

/* Üst Menü */
.top-bar {
  width: 98.5%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.topbar-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.topbar-icon {
  margin-right: 8px;
  width: 40px;
  height: 40px;
}

.topbar-logo-text {
  font-size: 18px;
}

/* Ana Başlık */
.content-title {
  margin: 50px 0;
  font-size: 24px;
  color: white;
}

/* Arama Kutusu */
.search-box {
  margin: 40px auto;
}

.search-input {
  padding: 10px;
  width: 300px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.search-button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #111937;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.search-button:disabled {
  background-color: #9e9e9e;
}

.error-message {
  color: white;
  margin-top: 10px;
}

/* CPC Kodları Tablosu */
.cpc-codes {
  margin-top: 20px;
}

.cpc-table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.cpc-table th, .cpc-table td {
  padding: 14px 20px;
  text-align: center;
  border: 1px solid #ddd;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
}

.cpc-table th {
  background-color: #111937;
  color: white;
  font-weight: bold;
}

.cpc-table td {
  background-color: #f9f9f9;
  color: #333;
  border-radius: 5px;
  font-weight: 500;
}

.cpc-table tr:nth-child(even) td {
  background-color: #f2f2f2;
}

.cpc-table tr:hover {
  background-color: #e0f7fa;
}

.cpc-table td {
  transition: background-color 0.3s ease;
}

/* Grafik Alanı */
.chart-wrapper {
  margin: 20px auto;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.chart-container {
  width: 100%;
  height: 500px;
}


